<div *ngIf="supplier">
  <div>
    <label>Companyname:
      <input [(ngModel)]="supplier.companyname" placeholder="Companyname">
    </label>
    <label>Firstname:
      <input [(ngModel)]="supplier.firstname" placeholder="Firstname">
    </label>
    <label>Lastname:
        <input [(ngModel)]="supplier.lastname" placeholder="Lastname">
      </label>
    <label>Irs:
      <input [(ngModel)]="supplier.irs" placeholder="Irs">
    </label>
    <label>City:
      <input [(ngModel)]="supplier.city" placeholder="City">
    </label>
    <label>Country:
      <input [(ngModel)]="supplier.country" placeholder="Country">
    </label>
    <hr>
    <label>Address without number:
      <input [(ngModel)]="supplier.address.addressUnumbered" placeholder="Address without number">
    </label>
    <label>Number:
      <input [(ngModel)]="supplier.address.number" placeholder="Number">
    </label>
  </div>
  <button (click)="goBack()" class="mr-2 btn btn-secondary">Go back</button>
  <button (click)="deleteSupplier()" class="mr-2 btn btn-danger">Delete Supplier</button>
  <button (click)="updateSupplier()" class="mr-2 btn btn-info">Update Supplier</button>

</div>

